@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
  
}


#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {

    text-decoration: none;

}

#myUL li a:hover:not(.header) {
    color:white;
    background-color: rgb(23, 24, 23);
}

.filterDiv {
    border: 1px solid #ddd;
    margin-top: -1px;
    /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: none;
}

.show {
    display: block;
}



/*DROPDOWN*/


#myInput:focus {
    outline: 3px solid #ddd;
}

.dropdown {
    margin: 20px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    color:white;
    background-color: rgb(12, 12, 12);
}

.show {
    display: block;
}

footer{
    margin-top:20px;
}

.fa {
    padding: 20px;
    font-size: 25px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
